{
  "extends": [
    "@react-native-community",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "quoteProps": "preserve",
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ],
    "license-header/header": ["error", "./license-header.js"],
    "no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }
    ],
    "no-bitwise": 0,
    "prefer-const": "warn",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react/react-in-jsx-scope": 0,
    "react-hooks/exhaustive-deps": 1,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-empty-function": 0
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./packages/*/tsconfig.json", "./apps/*/tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "prettier", "license-header"],
  "ignorePatterns": ["next-env.d.ts"]
}
