@import 'crossed.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.sb-story, #storybook-root{position: relative;}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: transparent; /* or add it to the track */
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  cursor: pointer;
  /* @apply bg-gray rounded-full cursor-pointer; */
}
