.c-1346037293 { text-align:center; }
.c-878564937 { margin-top:0; }
.c-1465709412 { margin-top:30; }
.c-1305758160 { align-items:center; }
.c--730240634 { align-self:center; }
.c-1905225496 { justify-content:space-between; }
.c--787529555 { flex-wrap:wrap; }
.c-62408046 { background-color:#000000; }
.c--586528779 { padding:15; }
.c-1472916318 { justify-content:center; }
.c--736163820 { border-top-width:1; }
.c-545226136 { border-color:#373737; }
.c--302034417 { min-height:85%; }
.c-62408108 { background-color:#000020; }
.c-2098447906 { gap:8; }
.c--2091504197 { display:flex; }
.c--207657598 { border-bottom-width:1; }
.c--7082916 { flex-direction:column; }
.c-202998153 { align-items:flex-start; }
.c-585232372 { align-self:stretch; }
.c-785424406 { max-width:100%; }
.c-1465709385 { margin-top:24; }
.c-1182275418 { margin-bottom:12; }
.c-1465709381 { margin-top:20; }
.c-218872998 { color:white; }
.c--1498632556 { flex-direction:row; }
.c-262712343 { justify-content:flex-start; }
.c-1159045402 { width:100%; }
.c--314167052 { flex-basis:auto; }
.c-608912708 { font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; }
.c--1195336695 { text-decoration-line:none; }
.c--1842830297 { cursor:pointer; }
.c--110460315 { margin-vertical:12; }
.c-627375479 { gap:12; }
.c--339590327 { font-size:9; }
.c-2093349202 { font-style:italic; }
.c-945612704 { position:absolute; }
.c--1704100972 { right:0; }
.c-2098848635 { top:0; }
.c-1876423013 { bottom:0; }
.c--1712753312 { color:#ffffff; }
.c-150233993 { background-color:#323252; }
.c--533883785 { border-width:1; }
.c-257574422 { border-radius:4; }
.c-1681057901 { padding-vertical:4; }
.c--1421223485 { padding-horizontal:8; }
.c--1189540540 { text-align:right; }
.c--586528782 { padding:12; }
.c-99387428 { background-color:#191939; }
.c--723314454 { align-items:stretch; }
.c-154856346 { background-color:#373737; }
.c-1681057898 { padding-vertical:1; }
.c--1421223489 { padding-horizontal:4; }
.c-1882815512 { padding-bottom:4; }
.c-1424368806 { border-collapse:collapse; }
.c--533883786 { border-width:0; }
.c--290820132 { table-layout:fixed; }
.c--1734741274 { border-style:solid; }
.c--869838881 { text-align:left; }
.c-950911047 { padding:8; }
